.git
.github
.husky
.next
.output
.tanstack
.vercel
.vite
.vinxi
.wrangler
.vscode

node_modules
dist
build
coverage
tmp

.DS_Store
*.pem
*.tsbuildinfo

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
